<h1><%= user.escape("email") %></h1>

<h3>Rounds</h3>

<div class="list-group">
  <% _.each(rounds, function (round) { %>

    <a href="#users/<%= user.id %>/rounds/<%= round.id %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= round.date %></h4>
      <h4><%= round.course.name %></h4>
      <div class="icons-container"
        <span class="pull-right">
          <span class="flagstick"></span>
          <span class="score"><%= round.score %></span>
          <span class="arrow glyphicon glyphicon-chevron-right"></span>
        </span>
      </div>
    </a>

  <% }) %>
</div>


<h3>Courses</h3>

<div class="list-group">
  <% _.each(courses, function (course) { %>
    <a class="list-group-item" href="#courses/<%= course.id %>"><%= course.name %></a>
  <% }) %>
</div>
