<h1><%= user.escape("email") %></h1>

<h3>Rounds</h3>

<div class="list-group">
  <% _.each(rounds, function (round) { %>
    <a class="list-group-item" href="#users/<%= user.id %>/rounds/<%= round.id %>"><%= round.date %></a>

  <% }) %>
</div>


<h3>Courses</h3>

<div class="list-group">
  <% _.each(courses, function (course) { %>
    <a class="list-group-item" href="#courses/<%= course.id %>"><%= course.name %></a>
  <% }) %>
</div>
