<div class="container">
  <div class="page-header">
    <h1 class="nice-title"><span class="glyphicon glyphicon-user"></span> <%= user.escape("email") %></h1>
  </div>
</div>


<div class="container">
  <div class="page-header">
    <h2 class="nice-title">Rounds</h2>
  </div>
</div>


<div class="list-group">
  <% _.each(rounds, function (round) { %>

    <a href="#users/<%= user.id %>/rounds/<%= round.id %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= round.date %></h4>
      <h4><%= round.course.name %></h4>
      <div class="icons-container"
        <span class="pull-right">
          <span class="flagstick"></span>
          <span class="score"><%= round.score %></span>
          <span class="arrow glyphicon glyphicon-chevron-right"></span>
        </span>
      </div>
    </a>

  <% }) %>
</div>

<div class="container">
  <div class="page-header">
    <h2 class="nice-title">Courses</h2>
  </div>
</div>

<div class="list-group">
  <% _.each(courses, function (course) { %>
    <a class="list-group-item nice-list" href="#courses/<%= course.id %>"><%= course.name %>
      <div class="icons-container-arrow">
        <span class="pull-right">
          <span class="arrow glyphicon glyphicon-chevron-right"></span>
        </span>
      </div>
    </a>
  <% }) %>
</div>
