<% var scoreHash = round.get("score_hash") %>
<% var puttsHash = round.get("putts_hash") %>
<% var fairwaysHash = round.get("fairways_hash") %>
<% var greensHash = round.get("greens_hash") %>
<% var courseId = round.get("course_id") %>
<% if (round.get("course")) { %>
  <% var parHash = round.get("course").par_hash %>
<% } %>
<div id="errors" class="alert alert-danger hidden" role="alert">
  <ul class="errors"></ul>
</div>
<form class="edit-round">

  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon1"></span>
    <input id="date" type="date" class="form-control" name="round[date]" value="<%= round.escape("date") %>" aria-describedby="basic-addon1">
  </div>

  <br>
  <label for="round_course">Course</label>
  <select name="round[course_id]" id="round_course">
    <% _.each(courses.models, function (course) { %>
      <option <%= course.id === courseId ? "selected" : null %> value="<%= course.id %>"><%= course.get("name") %></option>
    <% }) %>
  </select>

  <br>



<table class="table">
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr>
    <td>Par</td>
    <% for (var hole in parHash) { %>
      <td><%= parHash[hole] %></td>
    <% } %>
  </tr>

  <tr class="scores">
    <td>Score</td>
    <% for (var hole in scoreHash) { %>
      <td class="score" name="<%=hole%>" contenteditable="true"><%= scoreHash[hole] %></td>
    <% } %>
  </tr>

  <tr class="fairways">
    <td>Fairways</td>

    <% for (var hole in fairwaysHash) { %>
      <% if (fairwaysHash[hole] === "Y") { %>
        <td id="fairway" class="checkable checkmark" name="<%= hole %>"></td>
      <% } else { %>
        <td id="fairway" class="checkable" name="<%= hole %>"></td>
      <% } %>
    <% } %>
  </tr>

  <tr class="greens">
    <td>Greens</td>
    <% for (var hole in greensHash) { %>
      <% if (greensHash[hole] === "Y") { %>
        <td id="green" class="checkable bullseye" name="<%= hole %>"></td>
      <% } else { %>
        <td id="green" class="checkable" name="<%= hole %>"></td>
      <% } %>
    <% } %>
  </tr>

  <tr class="putts">
    <td>Putts</td>
    <% for (var hole in puttsHash) { %>
      <td class="putts" contenteditable="true" name="<%= hole %>"><%= puttsHash[hole] %></td>
    <% } %>
  </tr>
</table>

<br>

<textarea class="notes" name="round[note]"><%= round.get("note") %></textarea>
<br>

</form>

<button id="edit" class="btn btn-primary">Update Round</button>
