<% var scoreHash = round.get("score_hash") %>
<% var puttsHash = round.get("putts_hash") %>
<% var fairwaysHash = round.get("fairways_hash") %>
<% var greensHash = round.get("greens_hash") %>
<% if (round.get("course")) { %>
  <% var parHash = round.get("course").par_hash %>
<% } %>

<form class="edit-round">
  <label for="date">Date</label>
  <input id="date" type="date" name="round[date]" value="<%= round.escape("date") %>"></input>


  <br>
  <label for="round_course">Course</label>
  <select name="round[course_id]" id="round_course">
    <% _.each(courses.models, function (course) { %>
      <option value="<%= course.id %>" selected="<% round.get("course_id") === course.id ? 'selected' : ' ' %>"><%= course.get("name") %></option>
    <% }) %>

  </select>

  <br>



<table>
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr>
    <td>Par</td>
    <% for (var hole in parHash) { %>
      <td><%= parHash[hole] %></td>
    <% } %>
  </tr>

  <tr>
    <td>Score</td>
    <% for (var hole in scoreHash) { %>
      <td class="score" data-hole="<%= hole %>" contenteditable="true"><%= scoreHash[hole] %></td>
    <% } %>
  </tr>

  <tr>

      <td>Fairways</td>
      <% if (round.noHash("fairways_hash")) { %>
        <% for (var num = 1; num <= 18; num++) { %>
          <td class="checkable" data-fairway="fairway<%=num%>"></td>
        <% } %>
      <% } else { %>
        <% for (var hole in fairwaysHash) { %>
          <td class="checkable" data-fairway="<%= hole %>"><%= round.renderCheckMark(fairwaysHash[hole]) %></td>
        <% } %>

      <% } %>
  </tr>

  <tr>

      <td>Greens</td>
      <% if (round.noHash("greens_hash")) { %>
        <% for (var num = 1; num <= 18; num++) { %>
          <td class="checkable" data-green="greens<%=num%>"></td>
        <% } %>
      <% } else { %>
        <% for (var hole in greensHash) { %>
          <td class="checkable" data-green="<%= hole %>"><%= round.renderCheckMark(greensHash[hole]) %></td>
        <% } %>

      <% } %>

  </tr>

  <tr>

      <td>Putts</td>
      <% if (round.noHash("putts_hash")) { %>
        <% for (var num = 1; num <= 18; num++) { %>
          <td class="putts" contenteditable="true" data-putt="putts<%=num%>"></td>
        <% } %>
      <% } else { %>
        <% for (var hole in puttsHash) { %>
          <td class="putts" contenteditable="true" data-putt="<%= hole %>"><%= puttsHash[hole] %></td>
        <% } %>

      <% } %>

  </tr>
</table>

<br>

<textarea class="notes" name="round[note]"><%= round.get("note") %></textarea>
<br>

</form>

<button class="edit">Edit Round</button>
