
<div id="errors" class="alert alert-danger hidden" role="alert">
  <ul class="errors"></ul>
</div>

<div class="container">
  <div class="page-header">
     <h1 class="nice-title">Add Round</h1>
  </div>
</div>

<form name="round-form">

<div class="input-group">
  <span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon1"></span>
  <input id="date" type="date" class="form-control" name="round[date]" aria-describedby="basic-addon1">
</div>

<br>

<div class="input-group">
  <span class="input-group-addon golf-course" id="basic-addon1"></span>
  <select name="round[course_id]" id="round_course" class="form-control" aria-describedby="basic-addon1">
    <option selected value="" disabled>Select Course--</option>
    <% _.each(courses.models, function (course) { %>
      <option value="<%= course.id %>"><%= course.get("name") %></option>
    <% }) %>
  </select>
</div>
<br>
<a class="add-course" href="#courses/new">Add a Course</a>
<br>

<table class="table">
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr class="scores">
    <td>Score</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td class="score" name="score<%=num%>" contenteditable="true" value=""></td>
    <% } %>
  </tr>

  <tr class="fairways">
    <td>FIR</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td id="fairway" class="checkable" name="fairway<%=num%>" value=""></td>
    <% } %>
  </tr>

  <tr class="greens">
    <td>GIR</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td id="green" class="checkable" name="green<%=num%>" value=""></td>
    <% } %>
  </tr>

  <tr class="putts">
    <td>Putts</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td class="putts" name="putt<%=num%>" contenteditable="true" value=""></td>
    <% } %>
  </tr>

</table>


<br>

<textarea class="form-control" name="round[note]" placeholder="Notes about your round"></textarea>
<br>

<div class="myButton golf-button">
  <a id="create-round" class="button-link">Submit Round</a>
</div>

</form>
