<ul class="errors"></ul>
<h1>Add Round</h1>

<form name="round-form">

<label for="date">Date</label>
<input id="date" type="date" name="round[date]"></input>


<br>
<label for="round_course">Course</label>
<select name="round[course_id]" id="round_course">
  <option selected value="" disabled>Select Course--</option>
  <% _.each(courses.models, function (course) { %>
    <option value="<%= course.id %>"><%= course.get("name") %></option>
  <% }) %>

</select>

<a href="#courses/new">Add a Course</a>

<br>

<table class="table">
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr class="scores">
    <td>Score</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td class="score" name="score<%=num%>" contenteditable="true" value=""></td>
    <% } %>
  </tr>

  <tr class="fairways">
    <td>FIR</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td id="fairway" class="checkable" name="fairway<%=num%>" value=""></td>
    <% } %>
  </tr>

  <tr class="greens">
    <td>GIR</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td id="green" class="checkable" name="green<%=num%>" value=""></td>
    <% } %>
  </tr>

  <tr class="putts">
    <td>Putts</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td class="putts" name="putt<%=num%>" contenteditable="true" value=""></td>
    <% } %>
  </tr>

</table>


<br>

<textarea name="round[note]" placeholder="Notes about your round"></textarea>

<input type="submit" value="Submit">
</form>
