<% if (round.get("course")) { %>
  <% var courseUrl = "#courses/" + round.get("course_id") %>
  <% var courseName = round.get("course").name %>
  <% var parHash = round.get("course").par_hash %>
  <% var parTotal = 0 %>
  <% for (var key in parHash) { %>
    <% parTotal += parseInt(parHash[key]) %>
  <% } %>

<% } %>

<% var hash = round.get("score_hash") %>
<% var puttsHash = round.get("putts_hash") %>
<% var fairwaysHash = round.get("fairways_hash") %>
<% var greensHash = round.get("greens_hash") %>


<table class="table">
  <tr>
    <th>Date</th>
    <th>Course</th>
    <th>Score</th>
    <th>Par</th>
    <% if (!round.noHash("putts_hash")) { %>
      <th>Putts</th>
    <% } %>

    <% if (!round.noHash("fairways_hash")) { %>
      <th>FIR</th>
    <% } %>

    <% if (!round.noHash("greens_hash")) { %>
      <th>GIR</th>
    <% } %>
  </tr>

  <tr>
    <td><%= round.get("date") %></td>
    <td><a href="#courses/<%= round.get("course_id") %>"><%= courseName %></td></a>
    <td><%= round.get("score")%></td>
    <td><%= parTotal %></td>
    <% if (!round.noHash("putts_hash")) { %>
      <td><%= round.totalPutts() %></td>
    <% } %>
    <% if (!round.noHash("fairways_hash")) { %>
      <td><%= round.fairwaysCount() %></td>
    <% } %>
    <% if (!round.noHash("greens_hash")) { %>
      <td><%= round.greensCount() %></td>
    <% } %>

  </tr>
</table>
<br>

<table class="table">
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr>
    <td>Par</td>
    <% for (var hole in parHash) { %>
      <td><%= parHash[hole] %></td>
    <% } %>
  </tr>

  <tr>
    <td>Score</td>
    <% for (var hole in hash) { %>
      <td><%= hash[hole] %></td>
    <% } %>
  </tr>

  <tr>

    <td>Fairways</td>
    <% for (var hole in fairwaysHash) { %>
      <% if (fairwaysHash[hole] === "Y") { %>
        <td class="checkmark"></td>
      <% } else { %>
        <td></td>
      <% } %>

    <% } %>

  </tr>

  <tr>

    <td>Greens</td>
    <% for (var hole in greensHash) { %>
      <% if (greensHash[hole] === "Y") { %>
        <td class="bullseye"></td>
      <% } else { %>
        <td></td>
      <% } %>
    <% } %>

  </tr>

  <tr>

    <td>Putts</td>
    <% for (var hole in puttsHash) { %>
      <td><%= puttsHash[hole] %></td>
    <% } %>

  </tr>
</table>

<br>
<% if (round.escape("note").length > 0) { %>
  <textarea class="notes"><%= round.escape("note") %></textarea>
<% } %>

<a class="btn btn-primary" role="button" href="#rounds/<%= round.id%>/edit">Edit</a>
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete Round</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
