<% form_method = (action == :new) ? "POST" : "PATCH" %>
<% form_url = (action == :new) ? rounds_url : round_url(round) %>




<form action="<%= form_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Date
    <input type="date" name="round[date]" value="<%= round.date %>">
  </label>

  <label for="round_course">Select Course</label>
  <select name="round[course_id]" id="round_course">
    <% @courses.each do |course| %>
      <option value="<%= course.id %>" <%= "selected" if round.course_id == course.id %>>
        <%= course.name %></option>
    <% end %>
  </select>

  <table>
    <tr>
      <td>Front</td>
      <% 1.upto(9).each do |num| %>
        <% score_value = (action == :new) ? "" : round.score_hash["score#{num}"] %>
        <td><input type="number" min="1" name="round[score<%=num%>]" value="<%= score_value %>" placeholder="Hole #<%= num %>"></td>
      <% end %>
    </tr>
    <tr>
      <td>Putts</td>
      <% putt_value = (action == :new) ? "" : round.putt_hash["putts#{num}"] %>
      <% 1.upto(9).each do |num| %>
        <td><input type="number" min="0" name="round[putts<%= num %>]" value="<%= putt_value %>"</td>
      <% end %>
    </tr>
    <tr>
      <td>Back</td>
      <% 10.upto(18).each do |num| %>
        <% score_value = (action == :new) ? "" : round.score_hash["score#{num}"] %>
        <td><input type="number" min="1" name="round[score<%=num%>]" value="<%= score_value %>" placeholder="Hole #<%= num %>"></td>
      <% end %>
    </tr>
    <tr>
      <td>Putts</td>
      <% putt_value = (action == :new) ? "" : round.putts_hash["putts#{num}"] %>
      <% 10.upto(18).each do |num| %>
        <td><input type="number" min="0" name="round[putts<%= num %>]" value="<%= putt_value %>"</td>
      <% end %>
    </tr>
  </table>
  <br>

  <textarea name="round[note]" placeholder="Notes about your round"><%= round.note %></textarea>
  <br>
  <input type="submit" value="Submit">

</form>
