<h1>Add Round</h1>

<form action="<%= rounds_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Date
    <input type="date" name="round[date]" value="<%= @round.date %>">
  </label>

  <label for="round_course">Select Course</label>
  <select name="round[course_id]" id="round_course">
    <% @courses.each do |course| %>
      <option value="<%= course.id %>" <% "selected" if @round.course_id == course.id %>>
        <%= course.name %></option>
    <% end %>
  </select>

  <table>
    <tr>
      <td>Score</td>
      <td><input type="number" name="round[score1]" placeholder="Hole 1"></td>
      <td><input type="number" name="round[score2]" placeholder="Hole 2"></td>
      <td><input type="number" name="round[score3]" placeholder="Hole 3"></td>
      <td><input type="number" name="round[score4]" placeholder="Hole 4"></td>
      <td><input type="number" name="round[score5]" placeholder="Hole 5"></td>
      <td><input type="number" name="round[score6]" placeholder="Hole 6"></td>
      <td><input type="number" name="round[score7]" placeholder="Hole 7"></td>
      <td><input type="number" name="round[score8]" placeholder="Hole 8"></td>
      <td><input type="number" name="round[score9]" placeholder="Hole 9"></td>
      <td><input type="number" name="round[score10]" placeholder="Hole 10"></td>
      <td><input type="number" name="round[score11]" placeholder="Hole 11"></td>
      <td><input type="number" name="round[score12]" placeholder="Hole 12"></td>
      <td><input type="number" name="round[score13]" placeholder="Hole 13"></td>
      <td><input type="number" name="round[score14]" placeholder="Hole 14"></td>
      <td><input type="number" name="round[score15]" placeholder="Hole 15"></td>
      <td><input type="number" name="round[score16]" placeholder="Hole 16"></td>
      <td><input type="number" name="round[score17]" placeholder="Hole 17"></td>
      <td><input type="number" name="round[score18]" placeholder="Hole 18"></td>
    </tr>

  </table>

  <input type="submit" value="Submit">

</form>
