<table>
  <tr>
    <th>Date</th>
    <th>Course</th>
    <th>Score</th>
    <th>Par</th>
    <% if @round.total_putts %>
      <th>Total Putts</th>
    <% end %>
    <% if @round.fairways %>
      <th>Fairways in Regulation</th>

    <% end %>
    <% if @round.greens %>
      <th>Greens in Regulation</th>

    <% end %>

  </tr>


  <tr>
    <td><%= @round.date %></td>
    <td><%= @round.course.name %></td>
    <td><%= @round.score %></td>
    <td><%= @round.course.par_for_the_course %></td>
    <% if @round.total_putts %>
      <td><%= @round.total_putts %></td>
    <% end %>
    <% if @round.fairways %>
      <td><%= @round.fairways.count('x') %></td>

    <% end %>
    <% if @round.greens %>
      <td><%= @round.greens.count('x') %></td>

    <% end %>

  </tr>

</table>

<br>

<table border="3px solid">
  <tr>
    <td>Holes</td>
    <% 1.upto(18).each do |num| %>
      <td><%= num %></td>
    <% end %>

  </tr>
  <tr>
    <td>Par for each hole</td>

    <% @round.course.par_hash.each do |key, val| %>
      <td><%= val %></td>
    <% end %>
  </tr>
  <tr>
    <td>Score for each hole</td>
    <% @round.score_hash.each do |key, val| %>
      <td><%= val %></td>
    <% end %>
  </tr>

  <tr>
    <td>Differentials</td>
    <% @diffs.each do |diff| %>
      <td><%= diff %></td>
    <% end %>
  </tr>

  <tr>

    <% if @round.total_putts %>
      <td>Putts</td>
      <% @round.putts_hash.values.each do |val| %>
        <td><%= val %></td>
      <% end %>
    <% end %>

  </tr>

  <tr>
    <% if @round.fairways %>
      <td>Fairways in Regulation</td>
      <% @round.fairways.each do |x| %>
        <td><%= x %></td>

      <% end %>

    <% end %>

  </tr>

  <tr>
    <% if @round.greens %>
      <td>Greens in Regulation</td>
      <% @round.greens.each do |x| %>
        <td><%= x %></td>

      <% end %>

    <% end %>

  </tr>


</table>
<br>

<% if @round.note != "" %>
  <div class="round_note">
    <textarea readonly><%= @round.note %></textarea>
  </div>
<% end %>

<%= link_to "Delete Round", round_url(@round), method: :delete%>
<%= link_to "Edit Round", edit_round_url(@round) %>
