<table>
  <tr>
    <th>Date</th>
    <th>Course</th>
    <th>Score</th>
    <th>Par</th>
    <% if @round.total_putts %>
      <th>Total Putts</th>
    <% end %>
  </tr>

  <tr>
    <td><%= @round.date %></td>
    <td><%= @round.course.name %></td>
    <td><%= @round.score %></td>
    <td><%= @round.course.par_for_the_course %></td>
    <td><%= @round.total_putts %></td>

  </tr>

</table>

<br>

<table border="3px solid">
  <tr>
    <td>Holes</td>
    <% 1.upto(18).each do |num| %>
      <td><%= num %></td>
    <% end %> 

  </tr>
  <tr>
    <td>Par for each hole</td>

    <% @round.course.par_hash.each do |key, val| %>
      <td><%= val %></td>
    <% end %>
  </tr>
  <tr>
    <td>Score for each hole</td>
    <% @round.score_hash.each do |key, val| %>
      <td><%= val %></td>
    <% end %>
  </tr>

  <tr>
    <td>Differentials</td>
    <% @diffs.each do |diff| %>
      <td><%= diff %></td>
    <% end %>
  </tr>

  <tr>
    <td>Putts</td>
    <% @round.putts_hash.values.each do |val| %>
      <td><%= val %></td>
    <% end %>

  </tr>

</table>
<br>

<div class="round_note">
  <textarea readonly><%= @round.note %></textarea>
</div>

<%= link_to "Delete Round", round_url(@round), method: :delete%>
<%= link_to "Edit Round", edit_round_url(@round) %>
