<h1>Course Info</h1>

<h1><%= course.escape("name") %></h1>

<% var parHash = course.get("par_hash") %>

<table class="table">
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr>
    <td>Par</td>
    <% for (var hole in parHash) { %>
      <td class="par" data-hole="<%= hole %>" contenteditable="true"><%= parHash[hole] %></td>
    <% } %>
  </tr>
</table>



<% var course_user_id = course.escape("user_id") %>

<% if (current_user_id === course_user_id ) { %>

  <a class="btn btn-primary" role="button" href="#courses/<%= course.id %>/chart">Chart Course</a>

  <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal">Delete Course</button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
          <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<% } else { %>
  <a href="#users/<%= course_user_id %>">Back</a>
  <br>
  <a class="btn btn-primary" role="button" href="#users/<%= course_user_id %>/courses/<%= course.id %>/view">See Charted Holes</a>
<% } %>
