<h1>Course Info</h1>

<h1><%= course.escape("name") %></h1>

<% var parHash = course.get("par_hash") %>

<% if (course.get("images_hash")) { %>
  <% var imageUrl = course.get("images_hash").image %>
<% } %>

<div class="">
  <img src="<%= imageUrl %>">
</div>
<table>
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr>
    <td>Par</td>
    <% for (var hole in parHash) { %>
      <td><%= parHash[hole] %></td>
    <% } %>
  </tr>
</table>

<button class='delete'>Delete Course</button>

<a href="#courses/<%= course.id %>/chart">Chart Course</a>
