<h1>Course Info</h1>

<h1><%= course.escape("name") %></h1>

<% var parHash = course.get("par_hash") %>

<table>
  <tr>
    <td>Holes</td>
    <% for (var num = 1; num <= 18; num++) { %>
      <td><%= num %></td>
    <% } %>
  </tr>

  <tr>
    <td>Par</td>
    <% for (var hole in parHash) { %>
      <td class="par" data-hole="<%= hole %>" contenteditable="true"><%= parHash[hole] %></td>
    <% } %>
  </tr>
</table>



<% var course_user_id = course.escape("user_id") %>

<% if (current_user_id === course_user_id ) { %>
  <button class='delete'>Delete Course</button>
  <a href="#courses/<%= course.id %>/chart">Chart Course</a>
<% } %>
