<% var userEmail = user.escape("email") %>
<% var courseName = course.escape("name") %>
<% var images = course.get("images_hash") %>

<% if (course.noHash("images_hash")) { %>
  <p class="no-chartings"><%= userEmail %> has no charted holes for <%= courseName %></p>
  <a href="#courses/<%= course.id %>">Back</a>
<% }  else { %>

  <div class="container">
    <div class="page-header">
      <h1 class="nice-title"><a href="#users/<%= user.id %>"><span class="glyphicon glyphicon-user"></span></a>
    <%= userEmail %></h1>
    </div>
  </div>

  <div class="sidebar gradientBoxesWithOuterShadows">
    <ul class="chartings">
    <% for (var img in images) { %>
      <li class="img"><p class="chart"><%= img %></p><img class="charting" src="<%= images[img] %>" data-key="<%= img %>"></li>
  <% } %>
    </ul>
  </div>

  <canvas id="viewingCanvas" class="wood-frame" width="400" height="400"></canvas>
<% } %>
