<% var userEmail = user.escape("email") %>
<% var courseName = course.escape("name") %>
<% var images = course.get("images_hash") %>

<% if (course.noHash("images_hash")) { %>
  <p><%= userEmail %> has no charted holes for <%= courseName %></p>
  <a href="#courses/<%= course.id %>">Back</a>
<% }  else { %>
  <h1><%= userEmail %></h1>

  <div class="sidebar">
    <% for (var img in images) { %>
      <li class="viewImg"><%= img %><img class="charting" src="<%= images[img] %>" data-key="<%= img %>"></li>
  <% } %>
  </div>

  <canvas id="viewingCanvas" width="400" height="400"></canvas>
<% } %>
