<h1><%= @course.name %></h1>


<table border="3px solid">
  <tr>
  <% @course.par_hash.each do |param, val| %>

      <td> <%= val %></td>

  <% end %>
</tr>

<% @course.rounds.each do |round| %>

  <table>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Score</th>
      <th>Par</th>
    </tr>

    <tr>
      <td><%= round.date %></td>
      <td><%= round.course.name %></td>
      <td><%= round.score %></td>
      <td><%= round.course.par_for_the_course %></td>

    </tr>

  </table>

  <br>

  <table border="3px solid">
    <tr>
      <td>Par for each hole</td>

      <% round.course.par_hash.each do |key, val| %>
        <td><%= val %></td>
      <% end %>
    </tr>
    <tr>
      <td>Score for each hole</td>
      <% round.score_hash.each do |key, val| %>
        <td><%= val %></td>
      <% end %>
    </tr>

    <tr>
      <td>Differentials</td>
      <% round.differentials.each do |diff| %>
        <td><%= diff %></td>
      <% end %>
    </tr>

  </table>
  <%= link_to "Delete Round", round_url(round), method: :delete %>
  <%= link_to "Edit Round", edit_round_url(round) %>

  </table>
<% end %>
