<!DOCTYPE html>
<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li><a href="#">Rounds</a></li>
    <li><a href="#courses">Courses</a></li>
    <li><a href="#">Stats</a></li>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
          <!-- <input type="text" class="form-control" placeholder="Search Users"> -->
          <%= form_tag(users_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
          <%= submit_tag "Search" %>
          <% end %>
      </div>
      <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  </form>

    <div class="nav-right">
      <div class="pull-right">
        <% if logged_in? %>
          <li><%= link_to "Sign Out", session_url, method: :delete %></li>

        <% else %>
          <li><%= link_to "Sign In", new_session_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>

      </div>
    </div>

  </ul>
</nav>
<html>
<head>
  <title>RoundTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
