<!DOCTYPE html>
<% if logged_in? %>
  <header class="golf-banner"></header>
  <nav class="navbar navbar-default">
    <ul class="nav nav-pills">

      <li><a href="#rounds">Rounds</a></li>
      <li><a href="#courses">Courses</a></li>
      <li><a href="#users">Find Friends</a></li>


    <div class="nav-right">
      <div class="pull-right">
        <li><p class="navbar-text">Signed in as <%= current_user.email %></p></li>
        <li class="nav-signout"><%= link_to "Sign Out", session_url, method: :delete %></li>
      </div>
    </div>

    </ul>
  </nav>  
<% end %>
<html>
<head>
  <title>RoundTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
  <% if logged_in? %>
    <div id="user"><%= current_user.id %></div>
    <div id="user-email"><%= current_user.email %></div>
  <% end %>

</body>
</html>
